adfsprojectosc97dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfsprojectosc97dev"
		},
		"akvdev_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvprojectosc13.vault.azure.net/"
		},
		"ls_adb_dev_properties_typeProperties_domain": {
			"type": "string",
			"defaultValue": "@linkedService().domain"
		},
		"ls_adb_dev_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "@linkedService().cluster"
		},
		"ls_adb_prod_properties_typeProperties_domain": {
			"type": "string",
			"defaultValue": "https://adb-7405618610925729.9.azuredatabricks.net"
		},
		"ls_adb_prod_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0409-155234-i86h65ts"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PP_PROECT_OSCAR_DEV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Prep_Amb",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "GetConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '0.Preparacion_Ambiente')",
								"type": "Expression"
							},
							"baseParameters": {
								"storageName": {
									"value": "@activity('GetConfig').output.firstRow.storageName\n",
									"type": "Expression"
								},
								"container": "raw",
								"schemaBronze": "bronze",
								"schemaSilver": "silver",
								"schemaGold": "gold",
								"credential_": {
									"value": "@activity('GetConfig').output.firstRow.credential_",
									"type": "Expression"
								},
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "Ingest_Orders",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Prep_Amb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '2.Ingest_Orders')",
								"type": "Expression"
							},
							"baseParameters": {
								"storageName": {
									"value": "@activity('GetConfig').output.firstRow.storageName\n",
									"type": "Expression"
								},
								"schemaBronze": "bronze",
								"schemaSilver": "silver",
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "Ingest_Products",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Prep_Amb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '2.Ingest_Products')",
								"type": "Expression"
							},
							"baseParameters": {
								"storageName": {
									"value": "@activity('GetConfig').output.firstRow.storageName\n",
									"type": "Expression"
								},
								"schemaBronze": "bronze",
								"schemaSilver": "silver",
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "Ingest_Sellers_Customers",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Prep_Amb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '2.Ingest_Sellers_Customers')",
								"type": "Expression"
							},
							"baseParameters": {
								"storageName": {
									"value": "@activity('GetConfig').output.firstRow.storageName\n",
									"type": "Expression"
								},
								"schemaBronze": "bronze",
								"schemaSilver": "silver",
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "Transform_Orders",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Ingest_Orders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '3.Transform_Orders')",
								"type": "Expression"
							},
							"baseParameters": {
								"schemaBronze": "bronze",
								"schemaSilver": "silver",
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "Transform_Products",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Ingest_Products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '3.Transform_Products')",
								"type": "Expression"
							},
							"baseParameters": {
								"schemaBronze": "bronze",
								"schemaSilver": "silver",
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "Transform_sellers_customer",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Ingest_Sellers_Customers",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '3.Transform_Customers_Sellers')",
								"type": "Expression"
							},
							"baseParameters": {
								"schemaBronze": "bronze",
								"schemaSilver": "silver",
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "Transform_Orders_end",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Transform_sellers_customer",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Transform_Products",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Transform_Orders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '4.Transform_Orders_end')",
								"type": "Expression"
							},
							"baseParameters": {
								"schemaSilver": "silver",
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "Load_orders",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Transform_Orders_end",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '5.Load_orders')",
								"type": "Expression"
							},
							"baseParameters": {
								"schemaGold": "gold",
								"schemaSilver": "silver",
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": "https://adb-7405618610925729.9.azuredatabricks.net",
								"secretname": "kvtokendtb",
								"cluster": "0409-155234-i86h65ts"
							}
						}
					},
					{
						"name": "GetConfig",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "configParameter",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-15T01:01:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adb_dev')]",
				"[concat(variables('factoryId'), '/datasets/configParameter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/configParameter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_con",
					"type": "LinkedServiceReference",
					"parameters": {
						"storage": "storagesecretdev"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "config.csv",
						"fileSystem": "parameters"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "path;catalogo;storageName;cluster_id;credential_;domain;secretname;cluster",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_con')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/akvdev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('akvdev_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dls_con')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"storage": {
						"type": "string",
						"defaultValue": "storagesecretdev"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "https://adlssmartprojectdev13.dfs.core.windows.net/",
					"accountKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akvdev",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().storage",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akvdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"domain": {
						"type": "string",
						"defaultValue": "https://adb-7405618610925729.9.azuredatabricks.net"
					},
					"secretname": {
						"type": "string",
						"defaultValue": "kvtokendtb"
					},
					"cluster": {
						"type": "string",
						"defaultValue": "0409-155234-i86h65ts"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "[parameters('ls_adb_dev_properties_typeProperties_domain')]",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akvdev",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().secretname",
							"type": "Expression"
						}
					},
					"existingClusterId": "[parameters('ls_adb_dev_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akvdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_prod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "[parameters('ls_adb_prod_properties_typeProperties_domain')]",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akvdev",
							"type": "LinkedServiceReference"
						},
						"secretName": "kvtokendtb"
					},
					"existingClusterId": "[parameters('ls_adb_prod_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akvdev')]"
			]
		}
	]
}