adfsprojectosc97dev/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfsprojectosc97dev"
		},
		"akvdev_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvprojectosc13.vault.azure.net/"
		},
		"ls_adb_dev_properties_typeProperties_domain": {
			"type": "string",
			"defaultValue": "@linkedService().domain"
		},
		"ls_adb_dev_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "@linkedService().cluster"
		},
		"ls_adb_prod_properties_typeProperties_domain": {
			"type": "string",
			"defaultValue": "https://adb-7405618610925729.9.azuredatabricks.net"
		},
		"ls_adb_prod_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "0409-155234-i86h65ts"
		},
		"dls_con_properties_typeProperties_storageAccountUrl": {
			"type": "string",
			"defaultValue": "https://adlssmartprojectdev13.dfs.core.windows.net/"
		},
		"dls_con_properties_typeProperties_secretName": {
			"type": "string",
			"defaultValue": "storagesecretdev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PP_PROECT_OSCAR_DEV')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Prep_Amb",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "GetConfig",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '0.Preparacion_Ambiente_SE')",
								"type": "Expression"
							},
							"baseParameters": {
								"storageName": {
									"value": "@activity('GetConfig').output.firstRow.storageName",
									"type": "Expression"
								},
								"container": {
									"value": "@activity('GetConfig').output.firstRow.container",
									"type": "Expression"
								},
								"credential_": {
									"value": "@activity('GetConfig').output.firstRow.credential_",
									"type": "Expression"
								},
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": {
									"value": "@activity('GetConfig').output.firstRow.domain",
									"type": "Expression"
								},
								"secretname": {
									"value": "@activity('GetConfig').output.firstRow.secretname",
									"type": "Expression"
								},
								"cluster": {
									"value": "@activity('GetConfig').output.firstRow.cluster_id",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Ingest_Bronze",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Prep_Amb",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '1.Ingest_Bronze_SE')",
								"type": "Expression"
							},
							"baseParameters": {
								"storageName": {
									"value": "@activity('GetConfig').output.firstRow.storageName\n",
									"type": "Expression"
								},
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								},
								"container": {
									"value": "@activity('GetConfig').output.firstRow.container",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": {
									"value": "@activity('GetConfig').output.firstRow.domain",
									"type": "Expression"
								},
								"secretname": {
									"value": "@activity('GetConfig').output.firstRow.secretname",
									"type": "Expression"
								},
								"cluster": {
									"value": "@activity('GetConfig').output.firstRow.cluster_id",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Transform_Silver",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Ingest_Bronze",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": {
								"value": "@concat( activity('GetConfig').output.firstRow.path, '2.Transform_Silver_SE')",
								"type": "Expression"
							},
							"baseParameters": {
								"container": {
									"value": "@activity('GetConfig').output.firstRow.container",
									"type": "Expression"
								},
								"catalogo": {
									"value": "@activity('GetConfig').output.firstRow.catalogo",
									"type": "Expression"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_adb_dev",
							"type": "LinkedServiceReference",
							"parameters": {
								"domain": {
									"value": "@activity('GetConfig').output.firstRow.domain",
									"type": "Expression"
								},
								"secretname": {
									"value": "@activity('GetConfig').output.firstRow.secretname",
									"type": "Expression"
								},
								"cluster": {
									"value": "@activity('GetConfig').output.firstRow.cluster_id",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "GetConfig",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "configParameter",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-04-15T01:01:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adb_dev')]",
				"[concat(variables('factoryId'), '/datasets/configParameter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/configParameter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dls_con",
					"type": "LinkedServiceReference",
					"parameters": {
						"storage": "storagesecretdev"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "config.csv",
						"fileSystem": "parameters"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "path;catalogo;storageName;cluster_id;credential_;domain;secretname;cluster",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dls_con')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/akvdev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('akvdev_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
		    "name": "[concat(parameters('factoryName'), '/dls_con')]",
		    "type": "Microsoft.DataFactory/factories/linkedServices",
		    "apiVersion": "2018-06-01",
		    "properties": {
		        "annotations": [],
		        "type": "AzureBlobFS",
		        "typeProperties": {
		            // CAMBIO 1: Usar el parámetro de la plantilla para la URL
		            "url": "[parameters('dls_con_properties_typeProperties_storageAccountUrl')]",
		            "accountKey": {
		                "type": "AzureKeyVaultSecret",
		                "store": {
		                    "referenceName": "akvdev",
		                    "type": "LinkedServiceReference"
		                },
		                "secretName": {
		                    // CAMBIO 2: Usar el parámetro de la plantilla para el nombre del secreto
		                    "value": "[parameters('dls_con_properties_typeProperties_secretName')]",
		                    "type": "Expression"
		                }
		            }
		        }
		    },
		    "dependsOn": [
		        "[concat(variables('factoryId'), '/linkedServices/akvdev')]"
		    ]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_dev')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"domain": {
						"type": "string",
						"defaultValue": "https://adb-7405618610925729.9.azuredatabricks.net"
					},
					"secretname": {
						"type": "string",
						"defaultValue": "kvtokendtb"
					},
					"cluster": {
						"type": "string",
						"defaultValue": "0409-155234-i86h65ts"
					}
				},
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "[parameters('ls_adb_dev_properties_typeProperties_domain')]",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akvdev",
							"type": "LinkedServiceReference"
						},
						"secretName": {
							"value": "@linkedService().secretname",
							"type": "Expression"
						}
					},
					"existingClusterId": "[parameters('ls_adb_dev_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akvdev')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adb_prod')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "[parameters('ls_adb_prod_properties_typeProperties_domain')]",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akvdev",
							"type": "LinkedServiceReference"
						},
						"secretName": "kvtokendtb"
					},
					"existingClusterId": "[parameters('ls_adb_prod_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akvdev')]"
			]
		}
	]
}
